*{
  margin: 0px;
  padding: 0px;
}
.container-login100 {
    position:relative;
    width: 100%;  
    min-height: 100vh; 
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    flex-wrap: wrap;
    padding: 10px;
    display: grid;
    grid-template-rows: auto,auto;
    position: relative;
    background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%);
  } 
div#cabecera{
  width: 100%;
  height: 50px;
  position: relative;
}
div#cuerpo{
  margin-top: 5px;
  width: 100%;
  height: 680px;
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  overflow: scroll;
}
div#cabecera1{
  float: left;
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
div#cabecera2{
  float: left;
  width: 600px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
div#cabecera3{
  float: left;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}
div#cabecera4{
  float: left;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .1;
}
input#texto1{
  width: 100%;
}
#tabladecontenido{
  border-collapse: separate;
  border-spacing: 5px 5px;
  opacity: .9;
}
#label1{ 
  color: wheat;
}
