<!DOCTYPE html>
<html lang="en">

<head>
</head>
<body> 
    <div class="container-login100">
        <div id="cabecera">
                <form [formGroup]="formularioproblemas" > 
                    <div id="cabecera6">
                        <button (click) = "regresarProyectos()" type="submit" class="btn btn-outline-warning"><--</button>
                    </div>
                    <div id="cabecera1">
                        <label id="label1">Se muestran todos los problemas, click en seleccionar para separar los más relevantes</label>
                    </div>
                    <div id="cabecera2">
                        <label id="label1">Proyecto:</label>
                    </div>
                    <div id="cabecera4" > 
                        <input formControlName="nombre_extraido" type="text" class="form-control" readonly="readonly"
                            #nombre_necesario name="" id="texto1" aria-describedby="helpId" placeholder="Proyecto">
                    </div>
                    <div id="cabecera3">
                        <button routerLink="arboldeproblemas/1" type="submit" class="btn btn-outline-info">Arbol 1</button>
                    </div> 
                    <div id="cabecera3">
                        <button routerLink="arboldeproblemas2/1" type="submit" class="btn btn-outline-info">Arbol 2</button>
                    </div> 
                    <div id="cabecera3">
                        <button routerLink="arboldeproblemas3/1" type="submit" class="btn btn-outline-info">Arbol 3</button>
                    </div> 
                    
                </form>
                <div id="cabecera5">
                    <button (click) = "cerrarSesion()" type="submit" class="btn btn-outline-danger">Cerrar sesion</button>
                </div>
        </div> 
        <div id="cuerpo">
            <div class="table-responsive">
                        
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Problemas</th>
                            <th scope="col">Seleccion de problemas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let problema of Problemas; let iControl=index" class="">
                            <td>{{ iControl+1}}</td> 
                            <td>{{ problema.problema}}</td> 
                            <td>
                                <button (click) = "enviarProblema(problema.id_problema)" type="button" class="btn btn-outline-secondary">Seleccionar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>                 
        </div>
        
    </div>    
</body>

</html>










