*{
    margin: 0px;
    padding: 0px;
  }
  .container-login100 {
      position:relative;
      width: 100%;  
      min-height: 100vh; 
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      flex-wrap: wrap;
      display: grid;
      grid-template-rows: auto,auto;
      padding: 10px;
      background-image: linear-gradient(180deg, #5d6366 0, #415460 25%, #1f4459 50%, #003553 75%, #00264d 100%);
    } 
  div#cabecera{
        width: 100%;
        height: 50px;
        display: grid;
        grid-template-columns: auto,auto,auto,auto,auto;
  }
  div#cabecera1{
    float: left;
    width: 430px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div#cabecera2{
    float: left;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div#cabecera3{
    float: left;
    width: 140px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .7;
  }
  div#cabecera4{
    float: left;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .1;
  }
  div#cabecera5{
    float: left;
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .7;
  }
  input#texto11{
    width: 100%;
  }
  div#cuerpotabla1{
    float: left;
    margin-top: 5px;
    width: 40%;
    height: 680px;
  }
  div#cuerpo{
    background: linear-gradient(rgba(55, 142, 181, 0.5), rgba(55, 142, 181, 0.2)), 
    url("/assets/imagenes/Slide1.jpg") top center;
    background-size: cover;
    float: left;
    margin-top: 5px;
    width: 100%;
    height: 680px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  div#cuerpo1{
    margin-top: 5px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div#cuerpo11{
    border-width: 1px;
    border-radius: 5px;
    width: 245px;
    height: 100px; 
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  #texto1{
    width: 100%;
    height: 100px;
    resize: none; 
    overflow: hidden;
    word-wrap: break-word;
  }

  div#cuerpo111{
    border-width: 1px;
    border-radius: 5px;
    width: 230px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  
  
  div#uno{
    float: left;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  div#dos{
    float: left;
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center; 
  }
  div#primero{
    width: 160px;
    height: 40px;
    border-width: 1px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div#segundo{
    width: 160px;
    height: 40px;
    border-width: 1px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div#cuerpo6{
    margin-top: 5px;
    width: 100%;
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #label1{
    color: wheat;
  } 

 
  