<body> 
    <h1>Registro de Recursos</h1>
        
    <div class="content">
        <div class="container">
            <img class="bg-img" src="assets/imagenes/bg.jpg" alt="">
                <form [formGroup]="formulariorecursos">
                    <div> 
                        <input formControlName="nombre_extraido" type="text" class="form-control" readonly="readonly"
                            name="" id="texto1" aria-describedby="helpId" placeholder="Proyecto">
                    </div>
                    <div>
                        <input formControlName="id_involucra" type="text" class="form-control" readonly="readonly"
                            name="" id="texto1" aria-describedby="helpId" placeholder="id_involucrado">
                    </div>
                    <div class="connexion">
                        <div class="contact-form">
                            <label>Recurso</label>
                            <input formControlName="recurso" placeholder="" type="text" autocomplete="off">
                            
                            <label>.</label>
                            <input (click) = "enviarDatos3()" class="submit" value="Guardar" readonly="readonly">
    
                            <label>.</label>
                            
                            <input (click) = "regresarInvolucrados()" id="sub" value="Regresar>involucrado" readonly="readonly">
                        </div>                    
                    </div>   
                </form>     
        </div>
        <div id="contenedor">
            <div class="table-responsive">
                        
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">
                                <label>Involucrado:</label>
                            </th>
                            <th scope="col">
                                <form [formGroup]="formularioverpertenencia">
                                    <input  formControlName="nombre" type="text" class="form-control" readonly="readonly"
                                        name="" id="texto1" aria-describedby="helpId" placeholder="Nombre">
                                </form>
                            </th>
                            <th colspan="2" scope="col"></th>
                        </tr>
                        <tr>
                            <th scope="col">N.-</th>
                            <th scope="col">Recurso</th>
                            <th scope="col"><i class="fa-solid fa-trash-can"></i></th>
                            <th scope="col"><i class="fa-regular fa-pen-to-square"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let recurso of Recursos; let iControl=index" class="">
                            <td>{{ iControl+1}}</td> 
                            <td>{{ recurso.recurso}}</td>
                            <td>
                                <button (click) = "eliminarRecurso(recurso.id_recurso)" type="button" class="btn btn-outline-danger"><i class="fa-solid fa-trash-can"></i></button>
                            </td> 
                            <td>
                                <button (click) = "editarrecurso( recurso.id_recurso)" type="button" class="btn btn-outline-info"><i class="fa-regular fa-pen-to-square"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    
    </div>
    
    
    </body> 

