<!DOCTYPE html>
<html lang="en">

<head>
</head>
<body> 
    <div class="container-login100">  
        <div id="cabecera">
            <form [formGroup]="formulariodelnombre" > 
                <div id="cabecera1">
                    <label id="label1">Arbol2 fin proposito, puede editar los datos de ser necesario</label>
                </div>
                <div id="cabecera2" >
                    <label id="label1">Proyecto: </label>
                </div>
                <div id="cabecera4" > 
                    <input formControlName="nombre_extraido" type="text" class="form-control" readonly="readonly"
                        name="" id="texto11" aria-describedby="helpId" placeholder="Proyecto">
                </div> 
                <div id="cabecera33">
                    <button (click) = "guardararboleditado()" class="btn btn-success">Guardar datos editados</button>
                </div>
                <div id="cabecera3">
                    <button (click) = "eliminarArbol()" type="" class="btn btn-danger">Eliminar</button>
                </div>
                <div id="cabecera3">
                    <button (click) = "regresarUnpoco()" type="" class="btn btn-success">Regresar</button>
                </div>
                
            </form>
        </div>
       
        <div id="cuerpo">
            <div class="table-responsive">
                <table class="table" id="tabladecontenido" >
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                <form [formGroup]="formulariofin">
                                    <div id="cuerpo11">
                                        <textarea formControlName="a" type="text" class="form-control" 
                                        name="" id="texto1" aria-describedby="helpId" placeholder="1:Fin">

                                        </textarea>
                                    </div>
                                </form>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <form [formGroup]="formularioproposito">
                                    <div id="cuerpo11">
                                        <textarea formControlName="a" type="text" class="form-control" 
                                        name="" id="texto1" aria-describedby="helpId" placeholder="2:Proposito">

                                        </textarea>
                                    </div>
                                </form> 
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <form [formGroup]="formulariocomponente1">
                                    <div id="cuerpo11">
                                        <textarea formControlName="a" type="text" class="form-control" 
                                        name="" id="texto1" aria-describedby="helpId" placeholder="3:Componente1">

                                        </textarea>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form [formGroup]="formulariocomponente2">
                                    <div id="cuerpo11">
                                        <textarea formControlName="a" type="text" class="form-control" 
                                        name="" id="texto1" aria-describedby="helpId" placeholder="4:Componente2">

                                        </textarea>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form [formGroup]="formulariocomponente3">
                                    <div id="cuerpo11">
                                        <textarea formControlName="a" type="text" class="form-control" 
                                        name="" id="texto1" aria-describedby="helpId" placeholder="5:Componente3">

                                        </textarea>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form [formGroup]="formularioactividad1">
                                    <div id="cuerpo11">
                                        <textarea formControlName="a" type="text" class="form-control" 
                                        name="" id="texto1" aria-describedby="helpId" placeholder="6:Actividad1">

                                        </textarea>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form [formGroup]="formularioactividad2">
                                    <div id="cuerpo11">
                                        <textarea formControlName="a" type="text" class="form-control" 
                                        name="" id="texto1" aria-describedby="helpId" placeholder="7:Actividad2">

                                        </textarea>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form [formGroup]="formularioactividad3">
                                    <div id="cuerpo11">
                                        <textarea formControlName="a" type="text" class="form-control" 
                                        name="" id="texto1" aria-describedby="helpId" placeholder="8:Actividad3">

                                        </textarea>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form [formGroup]="formularioactividad4">
                                    <div id="cuerpo11">
                                        <textarea formControlName="a" type="text" class="form-control" 
                                        name="" id="texto1" aria-describedby="helpId" placeholder="9:Actividad4">

                                        </textarea>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form [formGroup]="formularioactividad5">
                                    <div id="cuerpo11">
                                        <textarea formControlName="a" type="text" class="form-control" 
                                        name="" id="texto1" aria-describedby="helpId" placeholder="10:Actividad5">

                                        </textarea>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form [formGroup]="formularioactividad6">
                                    <div id="cuerpo11">
                                        <textarea formControlName="a" type="text" class="form-control" 
                                        name="" id="texto1" aria-describedby="helpId" placeholder="11:Actividad6">

                                        </textarea>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> 
        </div> 
    </div>    
</body>

</html>
















