<!DOCTYPE html>
<html lang="en">

<head>
</head>
<body> 
    <div class="container-login100">
        <div id="cabecera">
            <form [formGroup]="formulariodelnombre" > 
                <div id="cabecera1">
                    <label id="label1">Matriz Marco Logico3. Se carga directamente la matriz creada.
                    </label>
                </div>
                <div id="cabecera2" >
                    <label id="label1">Proyecto: </label>
                </div>
                <div id="cabecera4" > 
                    <input formControlName="nombre_extraido" type="text" class="form-control" 
                        #valor name="" id="texto1" aria-describedby="helpId" placeholder="Proyecto">
                </div> 
                <div id="cabecera5">
                    <button  (click) = "regresarUnpoco()" type="" class="btn btn-success">Regresar</button>
                </div> 
                <div id="cabecera3">
                    <button (click)="eliminarMatriz()" type="" class="btn btn-danger">Eliminar</button>
                </div>
                <div id="cabecera3">
                    <button (click) = "regresaraProyectos()" type="" class="btn btn-success">Ir a proyectos</button>
                </div>
            </form>
        </div>
        <div id="cuerpo">
            <div class="table-responsive">
                        
                <table class="table table-bordered" id="tabla">
                    <thead>
                        <tr>
                            <th colspan="4" scope="col">Matriz de Marco Lógico</th>
                        </tr>
                        <tr>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Indicadores</th>
                            <th scope="col">Verificadores</th>
                            <th scope="col">Supuestos</th>
                            <th scope="col"><i class="fa-regular fa-pen-to-square"></i></th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr *ngFor="let elemento of Elementos; let iControl=index" class="">
                            <td>{{ elemento.descripcion}}</td> 
                            <td>{{ elemento.indicadores}}</td>
                            <td>{{ elemento.verificadores}}</td>
                            <td>{{ elemento.supuestos}}</td>
                            <td>
                                <button (click) = "editaelementoMatriz(elemento.id_matriz)" type="button" class="btn btn-outline-info"><i class="fa-regular fa-pen-to-square"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
    </div>    
</body>

</html>









