<body> 
    <h1>Registro del involucrado</h1> 
        
    <div class="content">
        <div class="container">
            <img class="bg-img" src="assets/imagenes/bg.jpg" alt="">
                <form ngNativeValidate [formGroup]="formularioinvolucrados1">
                    <div> 
                        <input  formControlName="nombre_extraido" type="text" class="form-control" readonly="readonly"
                            name="" id="texto1" aria-describedby="helpId" placeholder="Proyecto">
                        <input  formControlName="correo_primario" type="text" class="form-control" readonly="readonly"
                            name="" id="texto1" aria-describedby="helpId" placeholder="Correo">
                    </div>
                    <div class="connexion">
                        <div class="contact-form"> 
                            <label>Involucrado</label>
                            <input required id="involucra" formControlName="nombre" placeholder="" type="text" autocomplete="off">
                            <label>.</label>
                        </div>
                        <input (click) = "enviarDatos1()" class="submit" value="Agregar involucrado" readonly="readonly"> 
                        <label>.</label> 
                        <input (click) = "regresarProyectos()" class="submit" value="Regresar a Proyectos" readonly="readonly" >                  
                    </div> 
                </form> 
                               
        </div>
        <div id="contenedor">
            <div class="table-responsive">
                        
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <label >Nombre proyecto:</label>
                            </th>
                            <th>
                                <form [formGroup]="formularioverpertenencia">
                                    <input  formControlName="nombre_extraido" type="text" class="form-control" readonly="readonly"
                                        name="" id="texto1" aria-describedby="helpId" placeholder="Proyecto">
                                </form>
                            </th>
                            <th colspan="2"></th>
                        </tr>
                        <tr>
                            <th scope="col">N.-</th>
                            <th scope="col">Involucrado</th>
                            <th scope="col">Ingresar: </th>
                            <th scope="col"><i class="fa-solid fa-trash-can"></i></th>
                            <th scope="col"><i class="fa-regular fa-pen-to-square"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let involucrado of Involucrados; let iControl=index" class="">
                            <td>{{iControl+1}}</td>
                            <td>{{ involucrado.nombre}}</td> 
                            <td>
                                <button routerLink="intereses/{{ involucrado.id_involucrado }}" type="button" class="btn btn-outline-success"><i class="fa-solid fa-thumbs-up"></i> Intereses</button>
                                <button routerLink="problemas/{{ involucrado.id_involucrado }}" type="button" class="btn btn-outline-success"> <i class="fa-solid fa-triangle-exclamation"></i>Problemas</button>
                                <button routerLink="recursos/{{ involucrado.id_involucrado }}" type="button" class="btn btn-outline-success"><i class="fa-solid fa-scale-balanced"></i> Recursos</button>
                                
                            <td>
                                <button (click) = "eliminarInvolucrado(involucrado.id_involucrado)" type="button" class="btn btn-outline-danger"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                            <td>
                                <button (click) = "editarinvolucrado(involucrado.id_involucrado)" type="button" class="btn btn-outline-info"><i class="fa-regular fa-pen-to-square"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    
    </div>
    
    
    </body> 

