<!DOCTYPE html>
<html lang="en">

<head>
  
</head>

<body> 

  <div class="container-login100">
    <div class="hero-container1" data-aos="fade-up">
      <h1>Metodología del marco lógico</h1>
        <p>
        Es una herramienta de gestion de proyectos
        usada en el diseño, planificación, ejecución
        y evaluación de proyectos
        Desarrollada en 1969 por la USAD
        (Agencia de los Estados Unidos para el desarrollo internacional)
        como respuesta a analisis de resultados de proyectos anteriores
        donde se concluyó que había deficiencias y que es necesario crear
        una herramienta para mejorar los resultados de proyectos futuros.
        </p>
    </div>
    <section id="hero">
      <div class="hero-container" data-aos="fade-up">
        <a (click)="regresara()" href="#" class="btn-get-started scrollto"></a>
      </div>
    </section>
  </div>


</body>

</html>





